<VirtualHost *:80>

    ServerAdmin {{ nagios_admin_email }}
    ServerName {{ ansible_fqdn }}
    ServerAlias {{ nagios_host }}

    {% if nagios_url == "/" -%}
        ScriptAlias "/cgi-bin" "/usr/local/nagios/sbin"
    DocumentRoot /usr/local/nagios/share
    {% else -%}
        ScriptAlias {{ nagios_url ~ "/cgi-bin" }} "/usr/local/nagios/sbin"
    RedirectMatch ^/$ {{ nagios_url }}
    {% endif %}

    <Directory "/usr/local/nagios/sbin">
       Options ExecCGI
       AllowOverride None
       Order allow,deny
       Allow from all
       AuthType None
       Require all granted
    </Directory>

    {% if nagios_url != "/" -%}
        Alias {{ nagios_url }} "/usr/local/nagios/share"
    {% endif %}

    <Directory "/usr/local/nagios/share">
       Options None
       AllowOverride None
       Order allow,deny
       Allow from all
       AuthType None
       Require all granted
    </Directory>

</VirtualHost>
